<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBB0_iGYmKGZfs0gclMTiGkVpBM6EouuZw</string>
	<key>GCM_SENDER_ID</key>
	<string>1065688434895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laporBookBk</string>
	<key>PROJECT_ID</key>
	<string>lapor-book-bk1</string>
	<key>STORAGE_BUCKET</key>
	<string>lapor-book-bk1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065688434895:ios:5181f47954e817ccc04fba</string>
</dict>
</plist>